<section
  class="font-open flex flex-col md:flex-row justify-between px-4 md:px-20 lg:px-[10.5rem] mt-14 md:mt-24 pb-8"
>
  <article>
    <h1 class="mb-6 text-neutral-800 text-[2.5rem] md:text-5xl">
      Olá <strong class="font-bold">{{ user() }}</strong>
    </h1>

    <h2 class="text-base md:text-2xl text-neutral-600 md:max-w-96 lg:max-w-[520px] mb-4">
      Vamos dá um <strong class="font-bold text-primary-600">helpinho</strong> hoje? Separamos uma
      seleção especial para você
    </h2>

    <dl
      class="rounded-xl bg-white/40 px-3.5 py-3 mb-10 md:mb-0 flex justify-between text-base md:max-w-80 text-neutral-600"
    >
      <dd class="text-left px-3 py-2">
        Acompanhando <br /><span class="text-primary-500 text-2xl">17</span> helpinhos
      </dd>

      <dd class="text-left px-3 py-2">
        Criou <br />
        <span class="text-primary-500 text-2xl">24</span> helpinhos
      </dd>
    </dl>
  </article>

  <figure class="relative">
    <img
      src="public/assets/helpers-content-base.svg"
      alt="Background para informacoes relevantes"
      class="mx-auto"
    />

    <figcaption
      class="absolute top-0 right-0 w-full h-full flex flex-col justify-center items-center mx-auto"
    >
      <h4 class="text-neutral-900 font-light text-sm">Você já doou</h4>
      <h1 class="text-primary-600 font-bold text-[2.5rem] leading-10 mb-12">
        <span class="text-base font-normal">R$</span>9.571,00
      </h1>

      <h1 class="text-primary-600 font-bold text-[2.5rem] leading-10">235</h1>
      <h4 class="text-neutral-900 font-light text-sm">Helpinhos alegres</h4>
    </figcaption>
  </figure>
</section>
