<section class="pt-32 px-16 bg-white">
  <ol class="flex [&>li]:p-[25px] [&>li]:max-w-[265px] justify-center items-start antialiased">
    <li class="flex justify-center items-start gap-5">
      <strong class="font-mont text-primary-500 text-4xl leading-[3.125rem]">1.</strong>

      <dl>
        <dt class="text-primary-950 text-sm font-semibold">Escolha</dt>
        <dd class="text-neutral-400 text-sm">Escolha um helpinho que deseja ajudar</dd>
      </dl>
    </li>

    <li class="flex justify-center items-start gap-5">
      <strong class="font-mont text-primary-500 text-4xl leading-[3.125rem]">2.</strong>

      <dl>
        <dt class="text-primary-950 text-sm font-semibold">Doe</dt>
        <dd class="text-neutral-400 text-sm">
          O valor é você quem decide, e ele vai <span class="text-primary-500">todo</span> para quem
          escolher
        </dd>
      </dl>
    </li>

    <li class="flex justify-center items-start gap-5">
      <strong class="font-mont text-primary-500 text-4xl leading-[3.125rem]">3.</strong>

      <dl>
        <dt class="text-primary-950 text-sm font-semibold">Aproveite</dt>
        <dd class="text-neutral-400 text-sm">
          Doar gera felicidade para você e para quem recebeu.
        </dd>
      </dl>
    </li>

    <li class="flex justify-center items-start gap-5">
      <strong class="font-mont text-primary-500 text-4xl leading-[3.125rem]">4.</strong>

      <dl>
        <dt class="text-primary-950 text-sm font-semibold">Acompanhe</dt>
        <dd class="text-neutral-400 text-sm">
          Fique ligado, acompanhe se o helpinho alcançou o objetivo
        </dd>
      </dl>
    </li>
  </ol>
</section>
