<div class="flex flex-col">
  <label *ngIf="label" [for]="label" class="text-sm font-medium pb-1.5 neutral-700">
    {{ label }}
  </label>

  <input
    [type]="type"
    [name]="label"
    [value]="value"
    [placeholder]="placeholder"
    [ngClass]="{ 'border-primary-500': error }"
    class="min-h-11 border border-neutral-300 text-neutral-500 rounded-lg py-2.5 px-3.5 outline-none"
  />

  <p class="text-xs font-medium pt-1 text-primary-500 pb-2" [ngClass]="{ invisible: !error }">
    {{ error }}
  </p>
</div>
