<header class="px-8 md:px-16 lg:px-20 py-5 flex justify-between items-center static">
  <svg-icon src="public/assets/logo-header.svg" class="hidden sm:inline-block" />
  <svg-icon src="public/assets/mini-logo.svg" class="sm:hidden inline-block" />

  <nav class="hidden" [ngClass]="{ ' md:block': !hideLinks }">
    <ul class="flex gap-4 lg:gap-[3.688rem]">
      <li>
        <button [class]="selectedPath('/')" (click)="navigateTo('/')">Home</button>
      </li>

      <li>
        <button [class]="selectedPath('/search')" disabled>Pesquisa</button>
      </li>

      <li>
        <button [class]="selectedPath('/about')" disabled>Sobre</button>
      </li>
    </ul>
  </nav>

  <div class="flex gap-2">
    @if (!logged()) {
      <app-base-button color="primary-tonal">
        Registre-se <span class="hidden md:inline-block">grátis</span>
      </app-base-button>

      <app-base-button (click)="navigateTo('login')"> Login </app-base-button>
    } @else {
      <app-user-icon
        name="Olivia Ryem"
        email="olivia@untitledui.com"
        [hideSm]="true"
        class="flex"
      />
      <app-base-button icon="public/assets/log-out.svg" size="sm" />
    }
  </div>
</header>
