<header class="px-8 md:px-16 lg:px-20 py-5 flex justify-between items-center static">
  <svg-icon src="public/assets/logo-header.svg" class="hidden sm:inline-block" />
  <svg-icon src="public/assets/mini-logo.svg" class="sm:hidden inline-block" />

  <nav class="hidden" [ngClass]="{ ' md:block': !hideLinks }">
    <ul class="flex gap-4 lg:gap-[3.688rem]">
      <li>
        <a [class]="selectedPath('/')" [routerLink]="['']">Home</a>
      </li>

      <li>
        @if (!logged()) {
          <button [class]="selectedPath('/search')" disabled>Pesquisa</button>
        } @else {
          <button [class]="selectedPath('/helps')" [routerLink]="['/helps']">Meus helps</button>
        }
      </li>

      <li>
        @if (!logged()) {
          <button [class]="selectedPath('/about')" disabled>Sobre</button>
        }
      </li>
    </ul>
  </nav>

  <div class="flex gap-2">
    @if (!logged()) {
      <app-base-button color="primary-tonal" [routerLink]="['/register']">
        Registre-se <span class="hidden md:inline-block">grátis</span>
      </app-base-button>

      <app-base-button [routerLink]="['/login']"> Login </app-base-button>
    } @else {
      <app-user-icon [name]="user()" [email]="email()" [hideSm]="true" class="flex" />
      <app-base-button icon="public/assets/log-out.svg" size="sm" (clicker)="handleLogout()" />
    }
  </div>
</header>
