@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-white: 255 255 255;
    --color-black: 0 0 0;

    --color-neutral-50: 246 246 246;
    --color-neutral-100: 231 231 231;
    --color-neutral-200: 209 209 209;
    --color-neutral-300: 176 176 176;
    --color-neutral-400: 136 136 136;
    --color-neutral-500: 109 109 109;
    --color-neutral-600: 93 93 93;
    --color-neutral-700: 79 79 79;
    --color-neutral-800: 69 69 69;
    --color-neutral-900: 61 61 61;
    --color-neutral-950: 10 10 10;

    --color-primary-50: 255 240 243;
    --color-primary-100: 255 226 231;
    --color-primary-200: 255 200 214;
    --color-primary-300: 255 156 180;
    --color-primary-400: 255 100 142;
    --color-primary-500: 255 46 107;
    --color-primary-600: 244 11 89;
    --color-primary-700: 206 2 76;
    --color-primary-800: 172 5 70;
    --color-primary-900: 147 8 67;
    --color-primary-950: 83 0 32;

    --color-secondary-50: 254 251 232;
    --color-secondary-100: 253 245 196;
    --color-secondary-200: 253 232 139;
    --color-secondary-300: 251 213 73;
    --color-secondary-400: 248 190 23;
    --color-secondary-500: 244 174 11;
    --color-secondary-600: 200 126 6;
    --color-secondary-700: 159 89 9;
    --color-secondary-800: 132 70 15;
    --color-secondary-900: 112 58 19;
    --color-secondary-950: 65 29 7;

    --color-success-50: 240 253 243;
    --color-success-100: 221 251 228;
    --color-success-200: 189 245 203;
    --color-success-300: 137 236 164;
    --color-success-400: 78 218 116;
    --color-success-500: 45 213 91;
    --color-success-600: 26 159 62;
    --color-success-700: 24 125 52;
    --color-success-800: 24 99 46;
    --color-success-900: 22 81 39;
    --color-success-950: 6 45 18;

    --color-warning-50: 255 255 234;
    --color-warning-100: 255 252 197;
    --color-warning-200: 255 249 133;
    --color-warning-300: 255 239 70;
    --color-warning-400: 255 225 27;
    --color-warning-500: 255 196 9;
    --color-warning-600: 226 150 0;
    --color-warning-700: 187 106 2;
    --color-warning-800: 152 82 8;
    --color-warning-900: 124 67 11;
    --color-warning-950: 72 35 0;

    --color-error-50: 255 240 241;
    --color-error-100: 255 221 224;
    --color-error-200: 255 193 198;
    --color-error-300: 255 149 157;
    --color-error-400: 255 89 102;
    --color-error-500: 255 38 55;
    --color-error-600: 252 6 25;
    --color-error-700: 197 0 15;
    --color-error-800: 175 5 18;
    --color-error-900: 144 12 22;
    --color-error-950: 80 0 6;
  }
}
