@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-white: #ffffff;
    --color-black: #000000;

    --color-neutral-50: #f6f6f6;
    --color-neutral-100: #e7e7e7;
    --color-neutral-200: #d1d1d1;
    --color-neutral-300: #b0b0b0;
    --color-neutral-400: #888888;
    --color-neutral-500: #6d6d6d;
    --color-neutral-600: #5d5d5d;
    --color-neutral-700: #4f4f4f;
    --color-neutral-800: #454545;
    --color-neutral-900: #3d3d3d;
    --color-neutral-950: #0a0a0a;

    --color-primary-50: #fff0f3;
    --color-primary-100: #ffe2e7;
    --color-primary-200: #ffc8d6;
    --color-primary-300: #ff9cb4;
    --color-primary-400: #ff648e;
    --color-primary-500: #ff2e6b;
    --color-primary-600: #f40b59;
    --color-primary-700: #ce024c;
    --color-primary-800: #ac0546;
    --color-primary-900: #930843;
    --color-primary-950: #530020;

    --color-secondary-50: #fefbe8;
    --color-secondary-100: #fdf5c4;
    --color-secondary-200: #fde88b;
    --color-secondary-300: #fbd549;
    --color-secondary-400: #f8be17;
    --color-secondary-500: #f4ae0b;
    --color-secondary-600: #c87e06;
    --color-secondary-700: #9f5909;
    --color-secondary-800: #84460f;
    --color-secondary-900: #703a13;
    --color-secondary-950: #411d07;

    --color-success-50: #f0fdf3;
    --color-success-100: #ddfbe4;
    --color-success-200: #bdf5cb;
    --color-success-300: #89eca4;
    --color-success-400: #4eda74;
    --color-success-500: #2dd55b;
    --color-success-600: #1a9f3e;
    --color-success-700: #187d34;
    --color-success-800: #18632e;
    --color-success-900: #165127;
    --color-success-950: #062d12;

    --color-warning-50: #ffffea;
    --color-warning-100: #fffcc5;
    --color-warning-200: #fff985;
    --color-warning-300: #ffef46;
    --color-warning-400: #ffe11b;
    --color-warning-500: #ffc409;
    --color-warning-600: #e29600;
    --color-warning-700: #bb6a02;
    --color-warning-800: #985208;
    --color-warning-900: #7c430b;
    --color-warning-950: #482300;

    --color-error-50: #fff0f1;
    --color-error-100: #ffdde0;
    --color-error-200: #ffc1c6;
    --color-error-300: #ff959d;
    --color-error-400: #ff5966;
    --color-error-500: #ff2637;
    --color-error-600: #fc0619;
    --color-error-700: #c5000f;
    --color-error-800: #af0512;
    --color-error-900: #900c16;
    --color-error-950: #500006;
  }

  :root app-root[class="dark"] {
    --color-white: #000000;
    --color-black: #ffffff;

    --color-neutral-950: #f6f6f6;
    --color-neutral-900: #e7e7e7;
    --color-neutral-800: #d1d1d1;
    --color-neutral-700: #b0b0b0;
    --color-neutral-600: #888888;
    --color-neutral-500: #6d6d6d;
    --color-neutral-400: #5d5d5d;
    --color-neutral-300: #4f4f4f;
    --color-neutral-200: #454545;
    --color-neutral-100: #3d3d3d;
    --color-neutral-50: #0a0a0a;

    --color-primary-950: #fff0f3;
    --color-primary-900: #ffe2e7;
    --color-primary-800: #ffc8d6;
    --color-primary-700: #ff9cb4;
    --color-primary-600: #ff648e;
    --color-primary-500: #ff2e6b;
    --color-primary-400: #f40b59;
    --color-primary-300: #ce024c;
    --color-primary-200: #ac0546;
    --color-primary-100: #930843;
    --color-primary-50: #530020;

    --color-secondary-950: #fefbe8;
    --color-secondary-900: #fdf5c4;
    --color-secondary-800: #fde88b;
    --color-secondary-700: #fbd549;
    --color-secondary-600: #f8be17;
    --color-secondary-500: #f4ae0b;
    --color-secondary-400: #c87e06;
    --color-secondary-300: #9f5909;
    --color-secondary-200: #84460f;
    --color-secondary-100: #703a13;
    --color-secondary-50: #411d07;

    --color-success-950: #f0fdf3;
    --color-success-900: #ddfbe4;
    --color-success-800: #bdf5cb;
    --color-success-700: #89eca4;
    --color-success-600: #4eda74;
    --color-success-500: #2dd55b;
    --color-success-400: #1a9f3e;
    --color-success-300: #187d34;
    --color-success-200: #18632e;
    --color-success-100: #165127;
    --color-success-50: #062d12;

    --color-warning-950: #ffffea;
    --color-warning-900: #fffcc5;
    --color-warning-800: #fff985;
    --color-warning-700: #ffef46;
    --color-warning-600: #ffe11b;
    --color-warning-500: #ffc409;
    --color-warning-400: #e29600;
    --color-warning-300: #bb6a02;
    --color-warning-200: #985208;
    --color-warning-100: #7c430b;
    --color-warning-50: #482300;

    --color-error-950: #fff0f1;
    --color-error-900: #ffdde0;
    --color-error-800: #ffc1c6;
    --color-error-700: #ff959d;
    --color-error-600: #ff5966;
    --color-error-500: #ff2637;
    --color-error-400: #fc0619;
    --color-error-300: #c5000f;
    --color-error-200: #af0512;
    --color-error-100: #900c16;
    --color-error-50: #500006;
  }
}
